
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  <h2> Team Name:</h2>  <h3><%=@team.name %></h3>
  <h2>Team Motto</h2>     <h3><%=@team.motto%></h3>
  <% @heroes.each do |hero|%>

  <h3>Hero Name:</h3> <%= hero.name %>
  <h3>Hero Power:</h3><%= hero.power %>
  <h3>Hero Bio:</h3><%= hero.bio %>
  <%end%>
    
  </body>
</html>

